.GuidelinesContainer {
  overflow-x: hidden;
  text-align: center;
  align-self: center;
}

.GuidelinesContainer h1,
.GuidelinesContainer h4 {
  color: #8fb24f;

}

.GuidelinesContainer .Guideline {
  border-bottom: 4px solid red;
}

.GuidelinesContainer h3 {
  color: rgb(44, 43, 43);

}

.icon {
  height: 35vmin;
  pointer-events: none;
}

.RedBorder {
  padding-left: 10px;
  border-left: 4px solid red;
}

.TipsSection {
  text-align: start;
  color: black;
  margin-left: 30%;
}

.GuidelinesContainer .header {
  line-height: 0.5em;
  margin-bottom: 4em;
  color: red
}

.GreenBorder {
  padding-left: 10px;
  border-left: 4px solid #8fb24f;
}

/* css for Ipad */
@media (max-width: 1024px) and (max-height: 1366px) {
  .TipsSection {
    text-align: start;
    color: black;
    margin-left: 10%;
  }


}

/* css for mobile devices */
@media (max-width: 500px) {

  .Linebreaks {
    display: block;
  }

  .GuidelinesContainer .navbar {

    border-top: 1px solid #8fb24f;
    position: 'sticky';
    width: 100%;
    height: 4em;
    background-color: #8fb24f;
  }

  .GuidelinesContainer .navbarResponsive {
    border-top: 1px solid #8fb24f;
    position: 'fixed';
    width: 100%;
    height: 11em;
    background-color: #8fb24f;
  }

  .GuidelinesContainer .navContent li {
    padding: 5px 0;
    display: block;
    margin-left: -20px;
  }

  .GuidelinesContainer .navContent a {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 15px;
  }

  .TipsSection {
    text-align: start;
    color: black;
    font-size: 12px;
    margin-left: 2%;
  }

  .GuidelinesContainer .Guideline {
    border-bottom: 0px solid red;
  }

  .header {
    line-height: 0.5em;

  }




}
