.navbar {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-top: 1px solid #8fb24f;
    position: sticky;
    top: 0;
    width: auto;
    height: 4em;
    background-color: #8fb24f;
}

.Linebreaks {
    display: none;
}

.navContent a {
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 1em;
    font-size: 20px;
    color: white;
}


.navContent li {
    display: inline;
    font-size: 15px;
    list-style-type: none;
    margin-left: 30px;
}
